<!DOCTYPE html>

<html ng-app="DEMO">
  <head>
    <title>UFO traces</title>
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container" ng-controller="AppCtrl">


      <div>UFO now was here </div>
      <!--      <input ng-model="test">
            {{test}}-->
      <input class="form-control"ng-model="tree.name" />
      <button ng-click="createTree()" class="btn btn-warning">Test</button>

      <table class="table">
        <thead>
          <tr>
            <th>Name:</th>
            <th>Email</th>
            <th>Contact Phone</th>
            <th>Action</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input class="form-control"ng-model="contact.name" /></td>
            <td><input class="form-control"ng-model="contact.email" /></td>
            <td><input class="form-control"ng-model="contact.number" /></td>
            <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
            <td><button class="btn btn-info" ng-click="updateContact()">Update</button>&nbsp;&nbsp;l
              <button class="btn btn-info" ng-click="deselectContact()">Clear</button>
            </td>
          </tr>
          <tr ng-repeat="contact in contactlist">
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.number}}</td>
            <td><button class="btn btn-danger" ng-click="removeContact(contact._id)">Remove</button> </td>
            <td><button class="btn btn-warning" ng-click="editContact(contact._id)">Edit</button> </td>
          </tr>
        </tbody>
      </table>
    </div> 
    <script src="/bower/jquery/dist/jquery.js"></script>
    <script src="/bower/angular/angular.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/controllers/demo-controller.js" type="text/javascript"></script>

  </body>
</html>
