<div class="container">
  <h2>UFO was here</h2>

  <!-- Todos input -->
  <form role="form" ng-submit="addTree()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="tree" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <div ui-sortable ng-model="tree">
    <p class="input-group" ng-repeat="tree in trees" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="tree" class="form-control">
      <span class="input-group-btn inline-block">
        <button class="btn btn-danger" ng-click="removeTree($index)" aria-label="Remove">X</button>
      </span>
    </p>
  </div>  
</div>